/* MaosQueCuidam.module.css */

.maosQueCuidam {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;

    & .conteudo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        margin-bottom: 5rem;

        & img {
            width: 100%;
            max-width: 500px;
            border-radius: 24px;
            box-shadow: 0 0 60px rgba(73, 227, 145, 0.4);
        }

        & div {
            max-width: 600px;

            & h2 {
                font-size: 3rem;
                font-weight: 800;
                color: #000;
                line-height: 1.2;
                margin-bottom: 1.5rem;

                & span {
                    display: block;
                    color: #1B8E55;
                    border-bottom: 3px solid #1B8E55;
                    width: fit-content;
                }
            }

            & p {
                font-size: 1.5rem;
                line-height: 1.6;
                color: #444;
                margin-top: 1rem;
            }

        }
    }

    & .topicos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (max-width: 1115px) {


    .maosQueCuidam {


        & .conteudo {

            flex-direction: column;
            text-align: center;

            & h2 {
                & span {
                    margin: 0 auto;
                }
            }

        }

        & .topicos {

            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 0 auto;

        }
    }
}