.topico {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    max-width: 330px;

    & img {
        width: 70px;
        height: 70px;
    }

    & h3 {
        font-size: 2rem;
        font-weight: 600;
        color: #000;
        line-height: 1.4;
        margin: 0;
        text-align: left;
    }
}

@media (max-width: 1115px) {

    .topico {
        flex-direction: column;

        & h3 {
            text-align: center;
        }
    }
}