
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


main {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

img {
    border-radius: 20px;
    transition: .3s all;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    will-change: transform;
}

img:hover {
    transform: scale(1.1);
}

h1,h2,h3 {
    font-family: signika;
}

p,a {
    font-family: Rubik;
}