
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

img {
    transition: .3s all;
    will-change: transform;
}

img:hover {
    transform: scale(1.1);
}

h1,h2,h3 {
    font-family: signika;
}

p,a {
    font-family: Rubik;
}


.asw-menu-btn { 
    left: auto !important;
    right: 20px !important; 
    bottom: 20px !important; 
    z-index: 9999 !important; 
}