.ondeEstamos {
    background: linear-gradient(to right, #00824E 0%, #0FBA6B 50%, #00824E 100%);
    width: 100%;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;


    & .conteudo {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;
        max-width: 1200px;
        width: 100%;

        & h2 {
            color: #fff;
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: 1px;
            margin: 0;
        }

        & .tituloInferior {
            font-size: 2rem;
            font-weight: 600;
        }

        & .mapa {
            width: 50%;
            box-sizing: border-box;
            border-radius: 20px;
            border: none;
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .ondeEstamos {
        & .conteudo {

            & .mapa {
                height: 300px;
            }
        }
    }
}