.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 300px;

    & .iconCircle {
        width: 100px;
        height: 100px;
        background-color: #00824E;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        & .icon {
            color: #ffffff;
            font-size: 40px;
            font-weight: bold;
        }
    }

    & .cardText {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4;
    padding: 0 10px;
}
}

@media (max-width: 992px) {

    .card {
        margin: 20px 10px;
        max-width: 40%;
    }
}

@media (max-width: 778px) {

    .card {
        max-width: 100%;
        margin: 20px 0;
    }
}