.servicos {
    background: linear-gradient(to right, #00824E 0%, #0FBA6B 50%, #00824E 100%);
    padding: 60px 20px;
    color: #fff;

    & .conteudo {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        & .titulo {
            text-align: center;
            margin-bottom: 40px;

            & h2 {
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
                letter-spacing: 1px;
            }

            & p {
                font-size: 1.1rem;
                line-height: 1.5;
                font-weight: 500;
            }
        }

        & .cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 20px;
            margin-bottom: 50px;

            & .colEsquerda{
                display: flex;
                flex-direction: column;
                gap: 30px;
                flex: 1;
                align-items: flex-end;
            text-align: right;
            }

            & .colDireita {
                display: flex;
                flex-direction: column;
                gap: 30px;
                flex: 1;
                align-items: flex-start;
            text-align: left;
            }
        }

        & .imgCentral {
            flex: 1.2;
            display: flex;
            justify-content: center;

            & img {
                width: 100%;
                max-width: 400px;
                border-radius: 20px;
                object-fit: cover;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            }
        }

        & .cta {
            text-align: center;
            margin-top: 20px;

            & h3 {
                font-size: 1.8rem;
                font-weight: 700;
                margin-bottom: 25px;
            }

            & button {
                background-color: #006d41;
                border: none;
                padding: 15px 30px;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.2s;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

                & a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                }
            }

            & button:hover {
                background-color: #005a36;
                transform: scale(1.05);
            }
        }
    }
}



@media (max-width: 992px) {

    .servicos {

        & .conteudo {
            flex-direction: column;
            gap: 40px;

            & .titulo {

                & h2 {
                    font-size: 2rem;
                }
            }

            & .cards {
                flex-direction: column;

                & .colEsquerda {
                    align-items: center;
                    text-align: center;
                    width: 100%;
                }

                & .colDireita {
                    align-items: center;
                    text-align: center;
                    width: 100%;
                }

                & .imgCentral {
                    margin-bottom: 20px;
                }
            }
        }
    }
}