.sectionCta {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;

    & .container {

        background: linear-gradient(90deg, #00824E 0%, #0FBA6B 50%, #00824E 100%);
        width: 100%;
        max-width: 1200px;
        border-radius: 8px;
        padding: 3rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

        & h2 {
            color: #fff;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3;
            text-transform: lowercase;
            margin: 0;
        }

        & h2::first-letter {
            text-transform: uppercase;
        }

        & button {
            background-color: #005a36;
            border: none;
            padding: 15px 35px;
            border-radius: 6px;
            cursor: pointer;
            transition: transform 0.2s, background-color 0.3s;
            white-space: nowrap;

            & a {
                color: #fff;
                text-decoration: none;
                font-weight: 700;
                font-size: 1.1rem;
            }
        }

        & button:hover {
            background-color: #004228;
            transform: scale(1.05);
        }
    }
}


@media (max-width: 768px) {

    .sectionCta {

        & .container {
            flex-direction: column;
            padding: 2rem;
            text-align: center;
            gap: 30px;

            & h2 {
                font-size: 1.5rem;
            }

            & button {
                width: 100%;
            }
        }
    }
}