.equipe {
    background-color: #f9f9f9;
    padding: 80px 20px;
}

.conteudo {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .titulo {
        text-align: center;
        margin-bottom: 60px;

        & h2 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #000;
            line-height: 1.2;

            & span {
                color: #00824E;
                border-bottom: 4px solid #00824E;
                padding-bottom: 5px;
            }
        }
    }

    & .cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 50px;
    }

    & .cta {


        & button {
            background-color: #00824E;
            border: none;
            padding: 18px 35px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s;
            box-shadow: 0 5px 15px rgba(0, 130, 78, 0.3);

            & a {
                color: #fff;
                text-decoration: none;
                font-weight: 700;
                font-size: 1.1rem;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
        }

        & button:hover {
            background-color: #006d41;
            transform: scale(1.05);
        }

    }
}



@media (max-width: 768px) {

    .conteudo {

        & .titulo {

            & h2 {
                font-size: 2rem;
            }
        }

        & .cta {

            & button {
                padding: 15px 20px;
                width: 100%;

                & a {
                    font-size: 0.9rem;
                }
            }

        }

    }
}