.btWhatsApp {
    position: fixed;
    left: 30px;
    bottom: 20px;
    z-index: 10;
    width: 65px;
    height: 60px;
}

.whatsappIcon {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: none;
}

.btWhatsApp:hover .whatsappIcon {
    transform: scale(1.1);
}

.msg {
    position: fixed;
    left: 110px;
    bottom: 35px;
    background: #fff;
    color: #000;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

@media (max-width: 1000px) {
    .msg {
        display: none;
    }
}

@media (max-width: 768px) {
    .btWhatsApp {
        position: fixed;
        left: 20px;
        bottom: 6px;
        z-index: 10;
        width: 50px;
        height: 60px;
    }

}